h1 {
    color: #00ffa2;

}
h2 {
    color: #00e5ff;
}
h3 {
    color: #9d00ff;
}
h1, h2, h3 {
    background-color: darkblue;
}
p {
    box-shadow: #0e6c07 2px 2px 2px;
}
div {
    font-style: italic;
}
li {
    font-weight: bold;
    text-shadow: #232323 2px 2px 2px;
    list-style: none;
}




